article{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 5px;
font-family: 'Roboto Slab', serif;
background-color: #F1C40F;

}



main{
  width: 100%;
  background-color: #F39C12;
  margin: 0px auto;
  border-style: solid;
}

nav{
  background-color: #F4D03F;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border: solid;
}

img{
  width: 170px;
}

header{
  text-align: center;
  font-size: 25px;
  color: #F1C40F;
  background-color: #E74C3C;
  margin-left: 250px;
  margin-right: 250px;
  border: solid black ;
}


div {
  text-align: left;
  padding-left: 20px;
}

aside {
  float: right;
  width: 170px;
  height: 170px;
  margin-bottom: 200px;

}

img:hover{
  width: 200px;
}

footer{
  background-color:#F1C40F;
  text-align: center;

}

html{
  background-color: #F1C40F;
}
